:root {
  --travel-blue: #335576;
  --travel-orange: #db7a4e;
  --travel-pink: #fefaf5;
  --black: #000;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, 
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

/* main navigation */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 1.2rem 0;
}

.main-nav__logo {
  color: var(--travel-blue);
}

.main-nav__list {
  display: flex;
  width: 25%;
  justify-content: space-around;
}

.main-nav__link--active {
  border-bottom: 0.25rem solid var(--travel-orange);
  padding-bottom: 0.6rem;
}

/* footer */
.footer {
  background-color: var(--travel-pink);
  padding: 5rem 0;
}

.footer__content {
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__contact,
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__hours {
  display: flex;
  justify-content: space-between;
  max-width: 45%;
}

.footer__title {
  color: var(--travel-blue);
  font-size: 1.3rem;
  font-weight: bold;
}

.footer__description {
  color: var(--travel-orange);
  font-size: 0.6rem;
  text-transform: uppercase;
}

.footer__details {
  color: var(--travel-blue);
  font-size: 0.85rem;
}

.footer__socials {
  max-width: 15%;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
}

.footer__icon {
  min-width: 1.15rem;
  max-width: 1.5rem;
  min-height: 1.15rem;
  max-height: 1.6rem;
}


