:root {
  --travel-blue: #335576;
  --travel-orange: #db7a4e;
  --travel-pink: #fefaf5;
  --black: #000;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, 
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

/* main navigation */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.2rem 5.8rem;
  background-color: var(--white);
}

.main-nav--fixed {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 1;
}

.main-nav__logo {
  color: var(--travel-blue);
}

.main-nav__list {
  display: flex;
  width: 25%;
  justify-content: space-around;
}

.main-nav__link--active {
  border-bottom: 0.25rem solid var(--travel-orange);
  padding-bottom: 0.6rem;
}

/* footer */
.footer {
  background-color: var(--travel-pink);
  padding: 3rem 0;
}

.footer__content-area {
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20%;
}

.footer__content--hours {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
}

.footer__hours-info {
  display: flex;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
}

.footer__info:nth-of-type(3) {
  padding-right: 0;
}

.footer__title {
  color: var(--travel-blue);
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer__description {
  color: var(--travel-orange);
  font-size: 0.6rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.footer__details {
  color: var(--travel-blue);
  font-size: 0.85rem;
}

.footer__content--socials {
  max-width: 20%;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
}

.footer__icon {
  min-width: 1.15rem;
  max-width: 1.5rem;
  min-height: 1.15rem;
  max-height: 1.6rem;
  margin-right: 2rem;
}

.footer__icon:nth-of-type(3) {
  margin-right: 0;
}


