/* hero section */
.hero {
  display: flex;
  background-color: var(--travel-pink);
  align-items: center;
  justify-content: space-around;
  padding: 3rem 4rem;
}

.hero__text-div {
  max-width: 50%;
}

.hero__title {
  color: var(--travel-blue);
  font-size: 2.3rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.hero__line {
  font-size: 0.87rem;
  color: var(--travel-blue);
  margin-bottom: 2rem;
}

.hero__button {
  background-color: var(--travel-orange);
  color: var(--white);
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
  border-radius: 20px;
}

.hero__image {
  max-width: 27.25rem;
  min-width: 28.125rem;
}

/* recommendations section */
.recos {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.recos__title {
  color: var(--travel-blue);
  margin: 3rem 0 2rem 0;
}
.recos__cards {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.recos__card {
  max-height: 450px;
  min-height: 400px;
  max-width: 300px;
  min-width: 250px;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.20);
}

.recos__card--hawaii {
  background-image: url('../assets/Images/hawaii.jpg');
}

.recos__card--iceland {
  background-image: url('../assets/Images/iceland.jpg');
}

.recos__card--greece {
  background-image: url('../assets/Images/greece.jpg');
}

.recos__name {
  color: var(--white);
  position: absolute;
  font-size: 1.3rem;
  right: 1rem;
  bottom: 1rem;
}